.sidebar {
    background: darkblue;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 120px;
    height: 80vh;
}

.toggle {
    padding: 4px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.toggle span {
    background: hotpink;
    padding: 5px 10px;
    position: absolute;
    left:-90px;
    bottom: 90px;
    z-index: 100;
}